*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.img-lateral{
    display: inline-block;
}
body{
   font-family: 'Comic Neue', cursive;
   width: 80vw;
   height: auto;
}
h1{
    position: relative;
    bottom: 4vh;
}

nav{
    text-align: right;
    position: relative;
    bottom: 5vh;
    right: 1vh;

}
header{
    width: 80vw;
    height: 25vh;
    margin: 20px 10%;
    background-image: url(../images/design1_image2.jpg);
    background-size: cover;
    background-position: 0 0%;
    margin-top: 5%;
}
main{
    width: 80vw;
    margin: 0px 10%;
}
.marco{
    border: solid;
    display: inline-block;
    text-align: center;
    position: relative;
    bottom: 2vh;
    right: 15.8vw;
    width: 80vw;
}
.imgs{
    margin: 2%;
    display: block;
    width: 14vw;
    
}
.contenido{
    display: inline-block;
    width: 50vw;
    vertical-align: top;
    margin-left: 2%;
}

.boton-nav{
    border: solid;
    border-color: black;
    background-color: rgba(22, 101, 227, 0.979);
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    display: inline-block;
}
.boton-nav:hover{
    background-color: green;
    color: black;
}
a[href="#"]{
    background-color: rgb(130, 194, 33);
}


